@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Roboto:wght@400;700&display=swap');
body {
  font-family: Roboto;
  color: #5A3E3A;
}

#main {
  padding: 10px;
}

.nav {
  font-size: larger;
  background-color: #DFDBC3;
  border-bottom: solid 1px;
  padding: 10px;
}

main {
  display: grid;
  margin: 2%;
}

nav a {
  text-decoration-line: none;
  transition: color .3s ease-in, font-size .3s ease-in;
}
nav a:hover {
  font-size: x-large;
  box-shadow: inset 500px 0 0 0 #7ac0ef;
  color: #faf3fa;
  border-radius: 3%;
  cursor: pointer;
}

.recipe-list a {
  text-decoration-line: none;
  transition: color .3s ease-in;
}
.recipe-list a:hover {
  box-shadow: inset 500px 0 0 0 #7ac0ef;
  color: #faf3fa;
  border-radius: 3%;
  cursor: pointer;
}

.recipe {
  padding-left: 5%;
  transition: box-shadow .5s ease-in-out;
  box-shadow: 5px 5px 1px 1px rgb(106, 74, 68);
  border-radius: 1% 10% 10% 1%;
}

.recipe:hover {
  transition: box-shadow .5s ease-out;
  box-shadow: inset 500px 0 0 0 #7ac0ef;
  border-radius: 1% 10% 10% 1%;
}

.vegitarian-tacos {
  width: 200px;
  height: 200px;
  margin: 0;
  box-shadow: 10px 10px 0 0 rgba(199, 229, 255, 0.1);
}

.footer {
  background-color: #bba6cd;
  margin: 5% 0%
}

html {
  background-color: #DFDBC3;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 10px;
}

.stars {
  margin: 0;
}

td {
  width: 120px
}

.table-headers {
  font-weight: bold;
}

ol {
  margin: 5px;
}

.food-amount:nth-child(even) {
  background-color: rgb(178, 175, 170);
}
